.nav {
  grid-area: n;
  background-color: blue;
  padding: 20px;
}
ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.item {
  color: white;
  text-decoration: none;
}

.item.active {
  color: yellow;
}