.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog img {
    width: 50px;
    height: 40px;
    border-radius: 50%;
}

.messages {
    padding: 10px;
}

.message {
    padding: 12px;
}